.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 100vh;
  width: 250px;
}

.input-box {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  height: 24px;
  border-bottom: 1px solid black;
  list-style: none;
}
ul li:hover {
  background-color: pink;
}
